# List all aliases
alias aliases="compgen -a | less"

source aliases/git.sh
source aliases/ls.sh
source aliases/maintenance.sh
source aliases/meta.sh
source aliases/network.sh
source aliases/servers.sh
source aliases/shortcuts.sh