# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime cache files
sublime/Packages/User/*.cache
sublime/Packages/User/*.system-ca-bundle
sublime/Packages/User/Package Control.*